@import "tailwindcss";

:root {
  /* Light Mode Colors */
  --primary-color: #635BFF;
  --secondary-color: #5F5F5F;
  --text-white: #FFFFFF;
  --text-black: #222222;
  --icon-color: #526B7A;
  --bg-dark-blue: #0A2540;
  --border-color: #E3E7EA;
  --bg-light: #FFFFFF;
  --card-title: #29343D;
}

button {
  cursor: pointer;
}